* {
    font-size: 50px;
    text-align: center;
}

body{
    background-color: #ffcc6d;
    text-align: center;
}

table{
    margin: auto;
    border-collapse: collapse;
    border-style: hidden;
    margin-top: 35px;
}
tr,td{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.blocks td.X{
    color: indianred;
}
.blocks td.O{
    color: lightblue;
}
.size-select{
    margin-top: 50px;
}
.size-select, option{
    font-size: 50%;
}
.format-text{
    font-size: 50%;
}